.page2{
    background-image: url(../../assets/images/70001212-33c2-4be1-9c82-8a9ceb1fe6db.jpg);
    background-size: cover;
    background-position: center center;
}
.my-class{
    overflow: hidden;
}