
  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Inter&family=Jomhuria&family=Montserrat+Alternates:wght@300&display=swap');

body
{
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}